.header{
    background-color: #00a0b6;
    height: 80px;
    text-align: center;
    color: white;
   
    
}
.sem{
    background-color: #F1F1F1;
   margin: 10px;
   height:  50px;
 
}
.sim{
    display: flex;
}
button{
    margin-left: 70%;
}

